<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="topnav">
        <a class="active" href="{{ url_for('blog_blueprint.index') }}">Home</a>
        {% if session['username'] == 'admin' %}
        <a href="{{ url_for('users_blueprint.view_all_users') }}">Users</a>
        {% endif %}
        <a href="{{ url_for('blog_blueprint.index') }}">Posts</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        {% if 'username' not in session: %}
        <a href="{{ url_for('login_blueprint.user_login')}}">Login</a>
        {% endif %}
        {% if session['username']: %}
        <a href="{{ url_for('login_blueprint.user_logout')}}">Logout</a>
        {% endif %}
    </div>
    {% block body %}{% endblock %}
</body>
</html>