<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="topnav">
        <a class="active" href="{{ url_for('index_blueprint.index') }}">Home</a>
        <a href="{{ url_for('index_blueprint.index') }}">Posts</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    {% block body %}{% endblock %}
</body>
</html>