{% extends 'base.html' %}

{% block head %}
<title>New User</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}


{% block body %}
<form action="{{ url_for('users_blueprint.add_user') }}" method="POST">
    <label for="name">Name:</label><br />
    <input type="text" id="name" class="form" name="name" maxlength="30"><br><br>
    <label for="email">Email:</label><br />
    <input type="text" id="email" class="form" name="email"><br><br>
    <label for="password">Password:</label><br />
    <input type="password" id="password" class="form" name="password"><br><br>
    <input type="submit" value="Register" class="button">
</form>
{% endblock %}