{% extends 'base.html' %}

{% block head %}
<title>New Post</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}


{% block body %}
<form action="{{ url_for('blog_blueprint.add_post') }}" method="POST">
    <label for="title">Title:</label><br />
    <input type="text" id="title" name="title" maxlength="30" value=" {{ request.form.title }}"><br><br>
    <label for="owner">Author:</label><br />
    <input type="text" id="owner" name="owner" value=" {{ request.form.owner }} "><br><br>
    <label for="content">Content:</label><br />
    <textarea id="content" name="content" rows="25" cols="90">{{ request.form.content }}</textarea><br><br>
    <input type="submit" value="Submit" class="button">
</form>
{% endblock %}