{% extends 'base.html' %}

{% block head %}
<title>New Post</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}


{% block body %}
<form action="{{ url_for('blog_blueprint.add_post') }}" method="POST">
    <label for="title">Title:</label><br />
    <input type="text" id="title" class="form" name="title" maxlength="30"><br><br>
    <label for="content">Content:</label><br />
    <textarea id="content" class="form" name="content" rows="25" cols="90"></textarea><br><br>
    <input type="submit" value="Submit" class="button">
</form>
{% endblock %}