{% extends 'base.html' %}

{% block head %}
<title>Edit Post</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}" />
{% endblock %}



{% block body %}
<form action="{{ url_for('blog_blueprint.edit_post', post_id = post_to_edit['post_id']) }}" method="POST" enctype="multipart/form-data">
    <h3 class="error">{{error}}</h3>
    <label for="image">Upload image:</label><br />
    <input type="file" name="image" class="button" id="image" /><br /><br />
    <label for="title">Title:</label><br />
    <input type="text" id="title" class="form" name="title" maxlength="30" value=" {{post_to_edit.title}}"><br><br />
    <label for="content">Content:</label><br />
    <textarea id="content" class="form" name="content" rows="25" cols="90">{{ post_to_edit.content }}</textarea><br>
    <input type="submit" value="Submit" class="button">
</form>
{% endblock %}