{% extends 'base.html' %}

{% block head %}
<title>Edit Post</title>
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}" />
{% endblock %}


{% block body %}
<form action="{{ url_for('blog_blueprint.edit_post', post_id = post_to_edit['post_id']) }}" method="POST">
    <label for="title">Title:</label><br />
    <input type="text" id="title" name="title" maxlength="30" value=" {{post_to_edit.title}}"><br><br />
    <label for="content">Content:</label><br />
    <textarea id="content" name="content" rows="40" cols="90">{{ post_to_edit.content }}</textarea><br>
    <input type="submit" value="Submit" class="button">
</form>
{% endblock %}