{% extends 'base.html' %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}


{% block body %}
<a href="{{ url_for('add_post') }}" class="button">Add post</a>
    {% for post in posts %}
<h1>{{ post.title }}</h1>
<p>
    By {{ post.owner }} on {{ post.created_at }}
</p>
<p>{{ post.content }}</p>
<a href="{{ url_for('edit', post_id = post.id) }}" class="button">Edit</a>
<a href="#" class="button">Delete</a>
    {%  endfor %}
{% endblock %}