{% extends 'base.html' %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}


{% block body %}

<a href="{{ url_for('users_blueprint.add_user') }}" class="bigger button">Add user</a>
<div id="users">
    {% if users != None %}
    {% for user in users %}
    <div class="user">
        <p>{{ user.name }}
        <a href="{{ url_for('users_blueprint.view_user', user_id = user.user_id) }}" class="button">View details</a>
        <hr />
        </p>
    </div>
    {%  endfor %}
    {% endif %}
</div>

{% endblock %}