{% extends 'base.html' %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}


{% block body %}

{% if 'user' in session: %}
<a href="{{ url_for('blog_blueprint.add_post') }}" class="bigger button">Add post</a>
{% endif %}
<div id="posts">
    {% if posts != None %}
    {% for post in posts %}
    <div class="article">

        <h1>{{ post.title }}</h1>
        <p>
            By {{ post.owner }} on {{ post.created_at.day }}/{{post.created_at.month}}/{{post.created_at.year}}
        </p>
        <p>{{ post.preview_content() }}</p>
        <a href="{{ url_for('blog_blueprint.view_post', post_id = post.post_id) }}" class="button">Continue reading</a>
        <hr>
    </div>
    {%  endfor %}
    {% endif %}
</div>

{% endblock %}