{% extends 'base.html' %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}


{% block body %}

<a href="{{ url_for('blog_blueprint.add_post') }}" class="bigger button">Add post</a>
<div id="posts">
    {% for post in posts %}
    <div class="article">

        <h1>{{ post.title }}</h1>
        <p>
            By {{ post.owner }} on {{ post.created_at }}
        </p>
        <p>{{ post.preview_content() }}</p>
        <a href="{{ url_for('blog_blueprint.post', post_id = post.id) }}" class="button">Continue reading</a>
        <hr>
    </div>
    {%  endfor %}
</div>

{% endblock %}