{% extends 'base.html' %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}


{% block body %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="{{ url_for('setup_blueprint.db_setup') }}" method="POST">
        <label for="user">User:</label><br />
        <input type="text" id="user" name="user" class="form" maxlength="30"><br><br>
        <label for="password">Password:</label><br />
        <input type="password" id="password" class="form" name="password"><br><br>
        <label for="database">Database name:</label><br />
        <input type="text" id="database" class="form" name="database"><br><br>
        <input type="submit" value="Connect" class="button">
    </form>
</body>
</html>

{% endblock %}