<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="{{ url_for('setup_blueprint.db_setup') }}" method="POST">
        <label for="user">User:</label><br />
        <input type="text" id="user" name="user" maxlength="30" value=" {{ request.form.user }}"><br><br>
        <label for="password">Password:</label><br />
        <input type="text" id="password" name="password" value=" {{ request.form.password }} "><br><br>
        <label for="database">Database name:</label><br />
        <input type="text" id="database" name="database" value=" {{ request.form.database }} "><br><br>
        <input type="submit" value="Submit" class="button">
    </form>
</body>
</html>