{% extends 'base.html' %}

{% block head %}
<title>{{post.name}}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}


{% block body %}

<h1>{{ post.title }}</h1>
<p>
    By {{ post.owner }} on {{ post.created_at.day }}/{{post.created_at.month}}/{{post.created_at.year}}
</p>
<pre>{{ post.content }}</pre>
{% if session['username'] == post.owner or session['username'] == 'admin': %}
<a href="{{ url_for('blog_blueprint.edit_post', post_id = post.post_id) }}" class="button">Edit</a>
<a href="{{ url_for('blog_blueprint.delete_post', post_id = post.post_id) }}" class="button" onclick='return confirm("Are you sure you want to delete this?")'>Delete</a>
<hr>
{% endif %}

{%  endblock %}